.statusAdmin {
  width: 100%;
  display: flex;
  /* padding: 0% 10%; */
}
.adminForm {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  padding: 0% 0%;
}
.tableAdmin {
  width: 100%;
}
.FormAdmin {
  width: 50%;
  height: 90vh;
}
.textAdmin {
  font-size: 14px;
}
.buttonAdmin {
  display: block;
}
.stateOfMenu {
  /* position: absolute; */
  width: 100%;
}
.cardFormHomeAdmin {
  border-radius: 10px;
  padding: 2%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.119);
  margin: 1%;
  width: 300px;
}
.imageAdmin {
  padding: 0%;
  width: 96%;
  height: 250px;
  border-radius: 10px;
}
.imageDelete {
  width: 300px;
  height: 200px;
  border-radius: 0px;
  margin-bottom: 2px;
  border-radius: 5px;
}
.titleAdmin {
  width: 100%;
  height: 80px;
  padding-left: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid rgb(208, 198, 198) 1px;
  color: #16c03ee7;
  font-size: 25px;
  font-weight: 600;
  font-family: "Nunito", ExtraBoldf;
}
.TituloMenuDate {
  padding-left: 4%;
  padding-top: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d6ddd8e7;
  font-size: 25px;
  font-weight: 600;
  font-family: "Nunito", ExtraBoldf;
}
.menuAdmin {
  background-color: #0e4f1dde;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 300px;
  min-height: 100vh;
}
.menuOpcionAdmin {
  width: 220px;
  margin: 5% 0%;
  display: flex;
  justify-content: end;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  border-radius: 30px;
  color: rgb(255, 255, 255);
}
.menuOpcionAdmin:hover {
  width: 220px;
  margin: 5% 0%;
  background-color: rgba(127, 255, 212, 0.227);
  display: flex;
  justify-content: end;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  border-radius: 30px;
  color: rgb(255, 255, 255);
}
.displayResponsive {
  display: none;
}
.TituloMenuDateAdmin {
  color: white;
  font-size: 30px;
  font: normal normal 1000 30px Nunito;
  font-family: "Nunito", ExtraBoldf;
}
@media (max-width: 780px) {
  .stateOfMenu {
    width: 100%;
  }
  .imageAdmin {
    width: 20px;
    height: 20px;
    border-radius: 40%;
  }
  .statusPage {
    display: flex;
    justify-content: center;
    align-items: end;
    min-height: 90vh;
    padding: 0% 0%;
  }
  .statusAdmin {
    width: 100%;
    display: flex;
  }
  .adminForm {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
  }
  .FormAdmin {
    width: 95%;
    height: 100vh;
  }
  .adminFromTableOptions {
    width: 100%;
  }
  .buttonAdmin {
    padding: 10%;
    width: 25px;
    text-align: center;
    font-size: 6px;
  }
  .textAdmin {
    font-size: 10px;
  }
  .cardFormHomeAdmin {
    margin: 1%;
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .imageAdmin {
    width: 95%;
    height: 150px;
    border-radius: 10px;
  }
  .imageDelete {
    width: 160px;
    height: 100px;
    border-radius: 10px;
  }
  .menuAdmin {
    display: none;
  }
  .displayResponsive {
    position: fixed;
    display: flex;
    align-items: flex-end;
    justify-content: left;
  }
}
.nav-link {
  color: #16c03ee7;
}
.inputFormAdmin {
  margin: 2% 0%;
  width: 100%;
  border-radius: 10px;
  background-color: #ffffff25;
  border: 1px solid rgb(213, 207, 207);
  background-color: none;
  padding: 10px;
  height: 50px;
  color: rgb(14, 13, 13);
}
/* Photo Css */
.custom-file {
  color: rgb(82, 83, 83);
  font-family: inherit;
  cursor: pointer;
  width: 100%;
  content: "Photo";
  font-size: 1rem;
  outline: none;
  border-radius: 10px;
  border: rgba(128, 128, 128, 0.233) solid 1px;
  background-color: none;
  padding: 10px;
  height: 60px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.custom-file:hover::before {
  transition-duration: 0.4s;
  background: rgba(60, 64, 68, 0.247);
  color: rgb(82, 83, 83);
  border-color: rgba(16, 17, 17, 0.85);
}
.custom-file:active {
  outline: 0;
}
.custom-file:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.titulo {
  display: flex;
  font-family: "Trade Winds", cursive;
}

@media (max-width: 780px) {
  .custom-file {
    width: 100%;
  }
}
