.statusAdmin {
  width: 100%;
  padding: 0% 5%;
}
.adminForm {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0% 0%;
}
.tableAdmin {
  width: 100%;
}
.FormAdmin{
  width: 50%;
  height: 90vh;
}
.textAdmin {
  font-size: 14px;
}
.buttonAdmin {
  display: block;
}
.stateOfMenu {
  width: 100%;
}
.cardFormHomeAdmin {
  /* border: 1px solid #04040469; */
  margin: 1%;
  width: 300px;
}
.imageAdmin {
  padding: 2%;
  width: 100%;
  height: 280px;
  border-radius: 10px;
}
@media (max-width: 780px) {
  .stateOfMenu {
    width: 100%;
  }
  .imageAdmin {
    width: 20px;
    height: 20px;
    border-radius: 40%;
  }
  .statusPage {
    display: flex;
    justify-content: center;
    align-items: end;
    min-height: 90vh;
    padding: 0% 0%;
  }
  .statusAdmin {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    flex-direction: column;
    padding: 0% 0%;
  }
  .adminForm {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
  }
  .adminFromTableOptions {
    width: 100%;
  }
  .buttonAdmin {
    padding: 10%;
    width: 25px;
    text-align: center;
    font-size: 6px;
  }
  .textAdmin {
    font-size: 10px;
  }
  .cardFormHomeAdmin {
    margin: 1%;
    width: 45%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
    padding: 2% 0%;
  }
  .imageAdmin {
    width: 90%;
    height: 150px;
    border-radius: 10px;
  }
  /* Photo Css */
}
.nav-link {
  color: #16c03ee7;
}
.inputFormAdmin {
  margin: 2% 0%;
  width: 100%;
  border-radius: 10px;
  background-color: #ffffff25;
  border: 1px solid rgb(213, 207, 207);
  background-color: none;
  padding: 10px;
  height: 50px;
  color: rgb(14, 13, 13);
}
/* Photo Css */
.custom-file {
  color: rgb(82, 83, 83);
  font-family: inherit;
  cursor: pointer;
  width: 100%;
  content: "Photo";
  font-size: 1rem;
  outline: none;
  border-radius: 10px;
  border: rgba(128, 128, 128, 0.233) solid 1px;
  background-color: none;
  padding: 10px;
  height: 60px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.custom-file:hover::before {
  transition-duration: 0.4s;
  background: rgba(60, 64, 68, 0.247);
  color: rgb(82, 83, 83);
  border-color: rgba(16, 17, 17, 0.85);
}
.custom-file:active {
  outline: 0;
}
.custom-file:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.titulo {
  display: flex;
  font-family: "Trade Winds", cursive;
}

@media (max-width: 780px) {
  .custom-file {
    width: 100%;
  }
}
