.FondoDeForm {
  width: 100%;
  min-height: 100vh;
  background: url(../images/background.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: local;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login {
  height: 70vh;
  border-radius: 20px;
  width: 50vh;
  padding: 0%;
  background-color: #f3f1eeda;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.FormLogin {
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.inputFormLogin {
  margin: 2% 0%;
  width: 100%;
  border: none;
  border-bottom: 2px solid rgba(38, 36, 36, 0.261);
  background-color: none;
  padding: 10px;
  height: 50px;
  color: rgb(255, 255, 255);
}
.inputFormButton {
  margin: 2% 0%;
  width: 100%;
  background-color: #ffffff00;
  background-image: linear-gradient(to right, #16C03E , #00000027);
  border: 2px solid #16C03E;
  border: none;
  background-color: none;
  padding: 10px;
  height: 50px;
}
.inputFormButton:hover {
  background-color: #00000027;
  border: 2px solid #16c03eca;
}
.FormRegister {
  color: rgb(117, 116, 116);
  width: 28%;
  padding: 100px 3%;
}

.titleLogin {
  width: 100%;
  text-align: center;
  height: 100px;
  color: #434040;
  font: normal normal 700 30px/80px Nunito;
  font-family: 'Nunito', ExtraBoldf;
}

.About {
  width: 100%;
}

.PortadaTituloForm {
  font-size: 50px;
  font-family: 'Lobster', cursive;
  font-family: 'Palette Mosaic', cursive;
  font-family: 'Indie Flower', cursive;
}

@media (max-width: 780px) {
  .FondoDeForm {
    height: 100%;
    padding: 5%;
  }

  .login {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .FormLogin {
    /* min-height: 600px; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px 10%;
  }

  .FormRegister {
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 110px 3%;
  }

  .buttonLogin {
    width: 90%;
    margin-left: 10px;
  }
}