.FondoDeForm {
  min-height: 570px;
  background-size: cover;
  background-repeat: no-repeat;
  /* text-shadow: 10px 10px 10px #000000; */
}
.login {
  margin: 0% 0px;
  width: 100%;
  min-height:  100vh;
  display: flex;
  justify-content: space-between;
}
.FormLogin {
  color: rgb(29, 28, 28);
  width: 28%;
  padding: 200px 3%;
}
.FormRegister {
  color: rgb(117, 116, 116);
  width: 28%;
  padding: 100px 3%;
}
.buttonLogin {
  width: 100%;
}
.About {
  width: 100%;
}
.FondoDeForm {
  min-height:  100vh;
  background: url(../images/login.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: local;
}
.PortadaTituloForm {
  font-size: 50px;
  font-family: 'Palette Mosaic', cursive;
  font-family: 'Lobster', cursive;
  font-family: 'Indie Flower', cursive;
}
@media (max-width: 780px) {
  .FondoDeForm {
    height: 100%;
    background: aliceblue;
    padding-top: 0%;
  }
  .login {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .FormLogin {
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px 3%;
  }
  .FormRegister {
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 110px 3%;
  }
  .buttonLogin {
    width: 80%;
  }
}
