/* Menu */
.menu {
  position: relative;
  width: 300px;
  min-height: 900px;
}
.menuTrue {
  background-color: #185f29;
  position: fixed;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 260px;
  min-height: 100vh;
}
.imagenLogo {
  width: 40px;
  height: 40px;
}
.menuFalse {
  position: fixed;
  background-color: #185f29;
  display: flex;
  justify-content: start;
  flex-direction: column;
  width: 70px;
  min-height: 100vh;
}
.menuOpcion {
  width: 90%;
  height: 5%;
  margin: 2% 4%;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  border-radius: 30px;
  color: rgb(255, 255, 255);
}
.menuOpcion:hover {
  width: 90%;
  height: 5%;
  margin: 2% 4%;
  display: flex;
  align-items: center;
  /* background-color: rgba(255, 255, 255, 0.35)!important; */
  /* border: 1px black solid; */
  border-radius: 30px;
  color: rgb(233, 231, 231);
}
.optionsMenuAdmin {
  margin: 0px;
  padding: 0%;
  display: block;
}
.TituloMenuDate {
  color: white;
  font-size: 30px;
  /* font-family: "Permanent Marker", cursive; */
  /* font-family: "Indie Flower", cursive; */
  font: normal normal 1000 30px Nunito;
  font-family: 'Nunito', ExtraBoldf;
}
.iconMenuOfFirefly{
  width: 50px;
}
@media (max-width: 780px) {
  .menu {
    width: 70%;
    position: relative;
  }
  .optionsMenuAdmin {
    display: none;
  }
  .menuTrue {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    min-height: 900px;
  }
  .menuFalse {
    display: flex;
    justify-content: start;
    align-items: center;
    /* flex-direction: column; */
    width: 15%;
    min-height: 900px;
  }
  .menuOpcion:hover {
    width: 90%;
    height: 5%;
    margin: 2% 4%;
    display: flex;
    align-items: center;
    background-color: #16c03ee7 !important;
    border-radius: 30px;
    color: white;
  }
  .TituloMenuDate {
    font-size: 22px;
    /* font-family: "Indie Flower", cursive; */
  }
}
