/* Menu */
.menu {
  position: relative;
  width: 300px;
  min-height: 900px;
}
.menuTrue {
  /* background-color: #ffffff; */
  background-color: #f9f9f9;
  position: fixed;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 300px;
  min-height: 950px;
}
.imagenLogo {
  width: 40px;
  height: 40px;
}
.menuFalse {
  /* background-color: #ffffff; */
  background-color: #f9f9f9;
  position: fixed;
  display: flex;
  justify-content: start;
  flex-direction: column;
  width: 100px;
  min-height: 950px;
}
.menuOpcion {
  width: 90%;
  height: 5%;
  margin: 2% 4%;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 30px;
  color: #5a5a5a;
}
.menuOpcion:hover {
  width: 90%;
  height: 5%;
  margin: 2% 4%;
  display: flex;
  align-items: center;
  background-color: #379ff8 !important;
  border-radius: 30px;
  color: white;
}
.optionsMenuAdmin {
  margin: 0px;
  padding: 0%;
  display: block;
}
.TituloMenuDate {
  /* color: rgba(247, 146, 14, 0.945); */
  text-shadow: 2px 2px #a7a8aa;
  font-size: 30px;
  font-family: "Indie Flower", cursive;
  font-family: "Permanent Marker", cursive;
}
@media (max-width: 780px) {
  .menu {
    width: 70%;
    position: relative;
  }
  .optionsMenuAdmin {
    display: none;
  }
  .menuTrue {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    min-height: 900px;
  }
  .menuFalse {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    /* flex-direction: column; */
    width: 15%;
    min-height: 900px;
  }
  .menuOpcion:hover {
    width: 90%;
    height: 5%;
    margin: 2% 4%;
    display: flex;
    align-items: center;
    background-color: #379ff8 !important;
    border-radius: 30px;
    color: white;
  }
  .TituloMenuDate {
    font-size: 22px;
    /* font-family: "Indie Flower", cursive; */
  }
}
