.pagosPageCss{
    padding: 4%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.FormPageCss{
    width: 50%;
    /* background-color: #bdb3b310; */
    /* border-radius: 10px; */
    box-shadow: 1px 1px 30px 5px rgba(0, 0, 0, 0.096);
    padding: 4%;
}

@media (max-width: 780px) {
    .pagosPageCss{
        padding: 4%;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .FormPageCss{
        width: 90%;
        background-color: #19191909;
        padding: 4%;
    }
}