.bodyProfile {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile {
  width: 80%;
  display: flex;
  justify-content: start;
  flex-direction: column;
}
.imgProfile {
  border-radius: 20px;
  width: 80px;
  height: 80px;
  margin-right: 2%;
  margin-left: 0%;
}
.FormProfile {
  margin-top: 5%;
  color: rgb(117, 116, 116);
}
.formInput {
  margin-top: 5%;
}
.titleProfile {
  width: 100%;
  text-align: left;
  color: #161616e7;
  font: normal normal 1000 20px Nunito;
  font-family: "Nunito", ExtraBoldf;
}
.descriptionRegister {
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.inputFormProfile {
  width: 100%;
  border-radius: 10px;
  border: rgba(128, 128, 128, 0.233) solid 1px;
  background-color: none;
  padding: 10px;
  height: 60px;
}
.FormProfileBootstrap {
  margin-top: 1%;
  display: flex;
  width: 100%;
}
.buttonProfile {
  margin-top: 8%;
  width: 100%;
  height: 50px;
}
.modalProfile {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  height: 150px;
  width: 100%;
  font-size: 20px;
}
@media (max-width: 780px) {
  .titleProfile {
    width: 100%;
    text-align: center;
  }
  .profile {
    padding-top: 150px;
    width: 100%;
    display: flex;
    justify-content: start;
    flex-direction: column;
  }
  .FormProfile {
    margin-top: 10%;
    min-height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 3%;
  }
  .bodyProfile {
    /* margin-left: 10%; */
    padding: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .FormProfileBootstrap {
    display: flex;
    flex-direction: column;
  }
  .buttonProfile {
    margin-top: 8%;
    width: 90%;
    height: 40px;
  }
  .imgProfile {
    border-radius: 20px;
    width: 60px;
    height: 60px;
    margin-left: 2%;
  }
  .inputFormProfile {
    width: 95%;
    border-radius: 10px;
    border: rgba(128, 128, 128, 0.233) solid 1px;
    background-color: none;
    padding: 10px;
    height: 40px;
  }
  .modalProfile {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    height: 150px;
    width: 100%;
    font-size: 20px;
  }
  .modalProfileBody {
    width: 95%;
  }
}
/* Photo Css */
.custom-file-input::before {
  width: 400px;
  color: rgb(82, 83, 83);
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  border-radius: 10px;
  border: rgba(128, 128, 128, 0.233) solid 1px;
  background-color: none;
  padding: 10px;
  height: 60px;
  display: flex;
  justify-content: start;
  align-items: center;
  content: "photo";
}
.custom-file-input:hover::before {
  transition-duration: 0.4s;
  background: rgba(60, 64, 68, 0.247);
  color: rgb(82, 83, 83);
  border-color: rgba(12, 190, 182, 0);
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.titulo {
  display: flex;
  font-family: "Trade Winds", cursive;
}
input[type="file"] {
  display: none;
}
.titleProfilaDiv {
  margin-top: 100px;
  display: flex;
  align-items: center;
}
@media (max-width: 780px) {
  .custom-file-input::before {
    width: 100%;
    height: 40px;
  }
}
