.bodyRegister {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../images/luciernagaFondo.png);
  background-color: #f9f9f9;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}
.background {
  position: absolute;
}
.register {
  background-color: #f3f1eeda;
  border-radius: 20px;
  padding: 2%;
  margin: 2%;
  width: 50vh;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.FormRegister {
  color: rgb(117, 116, 116);
  width: 100%;
  padding: 0px 3%;
}
.formInput {
  margin-top: 5%;
}
.titleRegister {
  font-size: 40px;
  font-family: "Indie Flower", cursive;
  font-family: "Lobster", cursive;
  font-family: "Palette Mosaic", cursive;
  font-family: "Permanent Marker", cursive;
}
.descriptionRegister {
  font-size: 20px;
  font-family: "Palette Mosaic", cursive;
  font-family: "Lobster", cursive;
  font-family: "Indie Flower", cursive;
}
.buttonRegister {
  width: 100%;
  font-family: "Palette Mosaic", cursive;
  font-family: "Lobster", cursive;
  font-family: "Indie Flower", cursive;
}

.formInput {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.inputFormRegister {
  margin: 2% 0%;
  width: 100%;
  border: none;
  border-bottom: 2px solid rgba(38, 36, 36, 0.261);
  background-color: none;
  padding: 10px;
  height: 50px;
  color: rgb(73, 70, 70);
}
.titleRegister {
  width: 100%;
  text-align: left;
  color: #595656;
  font: normal normal 700 30px/80px Nunito;
  font-family: 'Nunito', ExtraBoldf;
}

@media (max-width: 780px) {
  .titleRegister {
    width: 100%;
    text-align: left;
    font: normal normal 700 25px/40px Nunito;
    font-family: 'Nunito', ExtraBoldf;
  }
  
  .bodyRegister {
    display: flex;
    align-items: center;
    min-height: 90vh;
  }
  .register {
    height: 60vh;
    border-radius: 20px;
    padding: 7%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .FormRegister {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .formInput {
    margin-top: 5%;
  }
  .descriptionRegister {
    font-size: 15px;
  }
  .buttonRegister {
    width: 90%;
  }
}
