.rankingPage {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding-left: 10%;
  padding-right: 2%;
  /* padding: 0% 0%; */
}
.progressPeople {
  position: static;
}
.titleProgress {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  font-family: "Indie Flower", cursive;
  font-family: "Lobster", cursive;
}
@media (max-width: 780px) {
  .rankingPage {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 90vh;
    padding-left: 18%;
  }
  .titleProgress {
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;
    font-size: 30px;
    font-family: "Indie Flower", cursive;
    font-family: "Lobster", cursive;
  }
}
